<h1>Welcome {{user.firstName}}</h1>
<h4>Your Stories</h4>
{{#if stories}}
    <table class="striped">
        <thead>
        <tr>
            <th></th>
            <th>Title</th>
            <th>Date</th>
            <th>Status</th>
            <th></th>
        </tr>
        </thead>
        <tbody>
        {{#each stories}}
            <tr>
                <td></td>
                <td><b><a href="/stories/show/{{id}}">{{title}}</a></b></td>
                <td><b>{{formatDate date 'MMMM Do YYYY'}}</b></td>
                <td><span class="dash-status"><b>{{status}}</b></span></td>
                <td>
                    <a class="btn left-align" href="/stories/edit/{{id}}"><i class="fa fa-pencil"></i> Edit</a>
                    <form action="/stories/{{id}}?_method=DELETE" method="post" id="delete-form">
                       <input type="hidden" name="_method" value="DELETE">
                        <button type="submit" class="btn red"><i class="fa fa-remove"></i> Delete</button>
                    </form>
                </td>
            </tr>
        {{/each}}
        </tbody>
    </table>
    <br/>
{{else}}
    <p>You have not created any stories yet</p>
{{/if}}

<a class="btn red" href="/stories/add"><i class="fa fa-plus"></i> Create new stories</a>


