<div class="row">
    <div class="col s12 m8">
        <h3>{{story.title}}
        <small>{{{editIcon story.user.id user.id story.id false}}}</small>
        </h3>
        <div class="card story">
            <div class="card-content">
                <span class="card-title">{{formatDate story.date 'MMMM Do YYYY'}}</span>
                {{{story.body}}}
                <br/>
                
                <p id="like-number">
                    {{#if story.likes}}
                     <i class="fa fa-thumbs-up"></i> {{story.likes}} likes 
                    {{/if}}
                </p>
                
            </div>
            {{#if user}}
            <div id="like-div" class="card-image">
                {{{liked found story.id}}}
            </div>   
            {{/if}}  
        </div>
        
        <br/>

        {{#if story.allowComments}}
            <div class="card">
                <div class="card-content">
                    <span class="card-title"></span>
                    {{#if user}}

                            <div class="input-field">
                                <textarea id="comment" class="materialize-textarea" rows="3"></textarea>
                                <label> Add Comment</label>
                            </div>
                            <button type="submit" id="send" class="btn"> 
                                <i class="fa fa-arrow-circle-right"></i> submit
                            </button>

                    {{else}}
                        <p>Please <a href="/auth/google">Log in</a> to leave a comment</p>
                    {{/if}}
                </div>
            </div>            
            <h5>Comments <i class="fa fa-comments"></i></h5>
            <div id="comments">
            {{#each story.comments}}
                <div class="card">
                    <div class="card-content">
                        <div class="chip">
                            <img src="{{commentUser.image}}">
                            <a href="/stories/user/{{commentUser.id}}">
                                {{commentUser.firstName}} {{commentUser.lastName}}
                            </a>
                        </div>
                        <span class="comment-body">{{commentBody}}</span>
                        <br>
                    </div>  
                </div>
            {{/each}} 
            </div>  
        {{/if}}
    </div>

    <div class="col s12 m4">
        <div class="card center-align">
            <div class="card-content">
                <span class="card-title">{{story.user.firstName}} {{story.user.lastName}}</span>
                <img src="{{story.user.image}}" class="circle responsive-img">
            </div>
            <div class="card-action">
                <a href="/stories/user/{{story.user.id}}">More From {{story.user.firstName}}</a>
            </div>
        </div>
    </div>
</div>

<input type="hidden" id="storyId" value={{story.id}}>
<input type="hidden" id="userId" value={{user.id}}>
<input type="hidden" id="userImage" value={{user.image}}>
<input type="hidden" id="firstName" value={{user.firstName}}>
<input type="hidden" id="lastName" value={{user.lastName}}>

<script type="text/javascript" src="/javascripts/comments.js"></script>
<script type="text/javascript" src="/javascripts/likes.js"></script>
